@model Vrai_crud.Models.etudiant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Détails de l'étudiant</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Matricule
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.matricule)
        </dd>
        <dt class="col-sm-2">
            Faculté
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idfaculte)
        </dd>
        <dt class="col-sm-2">
            Promotion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idpromotion)
        </dd>
        <dt class="col-sm-2">
            Nom et post-nom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.noms)
        </dd>
        <dt class="col-sm-2">
            Prenom
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.prenom)
        </dd>
        <dt class="col-sm-2">
            Nom du responsable
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nomrespo)
        </dd>
        <dt class="col-sm-2">
            Contact responsable
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.contactresp)
        </dd>
        <dt class="col-sm-2">
            Date de naissance
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.datenaiss)
        </dd>
        <dt class="col-sm-2">
            Sexe
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sexe)
        </dd>
        <dt class="col-sm-2">
            Contact Etudiant
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt class="col-sm-2">
            Mail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.adressemail)
        </dd>
        <dt class="col-sm-2">
            Residence
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.adresse)
        </dd>
        <dt class="col-sm-2">
            QR Code
        </dt>
        <dd class="col-sm-10">
            <img src="@ViewBag.QRCodeImage" style="width:72px; height: 72px; border-radius: 0px;" />
        </dd>
        <dt class="col-sm-2">
            Photo
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Html.DisplayFor(model => model.photo)" style="width:72px; height: 72px; border-radius: 0px;" />
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index" class="btn btn-success">Retour à la liste</a>
</div>
