@model IEnumerable<Vrai_crud.Models.etudiant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listes des étudiants</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Ajouter</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Les étudiants</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align:center;" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Matricule
                        </th>
                        <th>
                            Faculté
                        </th>
                        <th>
                            Promotion
                        </th>
                        <th>
                            Noms
                        </th>
                        <th>
                            Prénom
                        </th>
                        
                        <th>
                            Photo
                        </th>
                                                
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.matricule)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idfaculte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.idpromotion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.noms)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prenom)
                        </td>
                        
                        
                        
                        <td>
                            <img src="~/images/@Html.DisplayFor(modelItem => item.photo)" style="width:70px; height: 70px; border-radius: 0px;" />
                        </td>
                        
                        <td style="display:inline-flex;">
                            @Html.ActionLink("Payement", "Payement", new { id = item.id }, new { @class = "btn btn-secondary" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" })

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
