@model IEnumerable<Vrai_crud.Models.Utilisateur>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Les utilisateurs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Les utlisateurs</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.typeuser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.noms)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nom_utilisateur)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.contact)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.adressemail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.adresse)
                        </th>
                        <th>
                            Action
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.typeuser)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.noms)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom_utilisateur)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.adressemail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.adresse)
                        </td>
                        <td class="btn-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
